<!DOCTYPE html>
<html lang="en" ng-app="ToDo">
    <head>
        <meta charset="UTF-8"/>
        <title>TODO APPLICATION</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
        <style type="text/css">
            .done{
                text-decoration: line-through;
                color: #ccc;
            }
        </style>
    </head>
    <body>
        <div ng-controller="todoController">
            
            <form name="frm" ng-submit="addTodo()">
                <input type="text" name="newtodo" ng-model="newTodo" required/>
                <input type="submit" ng-disabled="frm.$invalid" value="Go"/>
            </form>
            <input type="button" ng-click="clearCompleted()" value="Clear Completed"/>
            <ul ng-repeat="todo in todos">
                <li>
                    <input type="checkbox" ng-model="todo.done"/>
                    <span ng-class="{'done':todo.done}">{{todo.title}}</span>
                </li>
            </ul>
        </div>
        <script src="js/libs/angular/angular.js"></script>
        <script type="text/javascript">
            angular.module('ToDo',[]).controller('todoController',
            ['$scope',function($scope){
                $scope.todos = [
                    {'title' : 'Build a todo app','done':false}
                ];
                $scope.addTodo = function(){
                    $scope.todos.push({'title':$scope.newTodo,'done':false});
                    $scope.newTodo = '';
                };
                $scope.clearCompleted = function(){
                    $scope.todos = $scope.todos.filter(function(item){
                        return !item.done;
                    });   
                };         
            }]);
        </script>
    </body>
</html>
